/*------------------------------------------
*
* $COLORS
*
------------------------------------------*/

$blue-charcoal: #262C30;
$white: #E4E4E4;


$color-background: $blue-charcoal;
$color-heading: $white;
// $color-body-font:
